{% extends 'layouts/index.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'products.css' %}">
{% endblock %}

{% block content %}
    <form action="/products/" method="get">
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                {% if product.image %}
                    <img class="product_image" src="/media/{{ product.image }}/" alt="">
                {% else %}
                    <img class="product_image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAgtAN5MyoeSVyvPUl5jD_93n9u9mVsBPsug&usqp=CAU" alt="">
                {% endif %}
                <h5 class="card-title">Author: {{ product.author.username }}</h5>
                <h5 class="card-title">{{ product.title }}</h5>
                <h6 class="card-title">{{ product.price }} som</h6>
                <h6 class="card-title">{{ product.created_date }}</h6>
                <a href="/products/{{ product.id }}" class="card-link">See more</a>
              </div>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in max_page %}
            <a href="/products/?page={{ page }}">
                <button>{{ page }}</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}